.header {
  width: 95%;
  height: 80px;
  position: absolute;
  left: 5vw;
  top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 35%;
  }

  .tabs {
    width: 65%;
    height: 80px;
    backdrop-filter: blur(10px);

    ul {
      height: 80px;
      list-style-type: none;
      margin: 0;
      padding: 0 60px 0 5px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      li {
        margin: 0 5px;
        width: auto;
        height: 80px;

        a {
          display: block;
          color: #ffffff;
          text-align: center;
          font-family: "Barlow Condensed", sans-serif;
          font-size: 1.4rem;
          letter-spacing: 2.7px;
          padding: 0 5px;
          text-decoration: none;
          position: relative;
          top: 40%;

          span {
            font-weight: 700;
          }
        }

        a:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.active {
  border-bottom: 1px solid #ffffff;
}

@media screen and (max-width: 1024px) {
  .header {
    height: 60px;
    top: 5px;

    .logo {
      width: 20%;
    }

    .tabs {
      width: 80%;
      height: 60px;
      // backdrop-filter: blur(10px);
      // background-color: #555353;

      ul {
        height: 60px;

        li {
          a {
            font-size: 1.4rem;
            span {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .tabs {
      ul {
        display: none;
      }
    }
  }
}
