.crew {
  width: 100vw;
  height: 100vh;
  background: url("../../assets/crew/background-crew-desktop.jpg") no-repeat;

  .crew-details {
    width: 500px;
    position: fixed;
    top: 23vh;
    left: 12vw;

    h5 {
      color: #ffffff;
      font-family: "Barlow Condensed", sans-serif;
      font-size: 18px;
      letter-spacing: 4.75px;
      margin-bottom: 100px;
    }

    h6 {
      color: #ffffff;
      font-family: "Bellefair", serif;
      font-weight: 400;
      font-size: 32px;
      margin-bottom: 10px;
    }

    h2 {
      color: #ffffff;
      font-family: "Bellefair", serif;
      font-weight: 400;
      font-size: 56px;
      margin: 10px 0 40px 0;
    }

    p {
      width: 350px;
      font-family: "Barlow Condensed", sans-serif;
      font-size: 16px;
      letter-spacing: 1px;
      color: #d0d6f9;
      margin: 0;
      padding-bottom: 35px;
    }

    .crew-members {
      div {
        width: 10px;
        height: 10px;
        display: inline-block;
        // background-color: #979797;
        border: 0.1px solid #979797;
        border-radius: 50%;
        margin-right: 20px;
      }
    }
  }

  .crew-image {
    position: fixed;
    bottom: 0;
    right: 8vw;

    img {
      width: 400px;
      height: 500px;
    }
  }
}

.active {
  background-color: #ffffff;
}
