.crew {
  width: 100vw;
  height: 100vh;
  background: url("../../assets/crew/background-crew-desktop.jpg") no-repeat;
  background-size: cover;
  background-position: center;

  .crew-heading {
    position: fixed;
    top: 20vh;
    left: 12vw;

    h5 {
      color: #ffffff;
      font-family: "Barlow Condensed", sans-serif;
      font-size: 18px;
      letter-spacing: 4.75px;
    }
  }

  .crew-details {
    width: 500px;
    position: fixed;
    top: 30vh;
    left: 12vw;

    h6 {
      color: #ffffff;
      font-family: "Bellefair", serif;
      font-weight: 400;
      font-size: 32px;
      margin-bottom: 10px;
    }

    h2 {
      color: #ffffff;
      font-family: "Bellefair", serif;
      font-weight: 400;
      font-size: 56px;
      margin: 10px 0 40px 0;
    }

    p {
      width: 350px;
      font-family: "Barlow Condensed", sans-serif;
      font-size: 16px;
      letter-spacing: 1px;
      color: #d0d6f9;
      margin: 0;
      padding-bottom: 35px;
    }

    .crew-members {
      div {
        width: 10px;
        height: 10px;
        display: inline-block;
        // background-color: #979797;
        border: 0.1px solid #979797;
        border-radius: 50%;
        margin-right: 20px;
      }
    }
  }

  .crew-image {
    position: fixed;
    bottom: 0;
    right: 8vw;

    img {
      width: 400px;
      height: 500px;
    }
  }
}

.active {
  background-color: #ffffff;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .crew {
    background: url("../../assets/destination/background-destination-tablet.jpg")
      no-repeat;
    background-size: cover;

    .crew-heading {
      top: 7vh;
      left: 5vw;
    }

    .crew-details {
      top: 15vh;
      left: 15vw;
      text-align: center;

      p {
        width: 500px;
      }
    }

    .crew-image {
      bottom: 0;
      left: 25vw;
    }
  }
}

@media screen and (max-width: 600px) {
  .crew {
    background: url("../../assets/crew/background-crew-mobile.jpg") no-repeat;
    background-size: cover;

    .crew-heading {
      top: 8vh;
      left: 7vw;
    }

    .crew-image {
      width: 300px;
      height: 300px;
      top: 20vh;
      left: 25vw;
      border-bottom: 1px solid #ffffff;

      img {
        width: 200px;
        height: 200px;
      }
    }
  }
}
