<section class="crew">
  <app-header></app-header>

  <div class="crew-details">
    <h5><span style="color: #525354">02</span> MEET YOUR CREW</h5>
    <h6>COMMANDER</h6>
    <h2>DOUGLAS HURLEY</h2>
    <p>
      Douglas Gerald Hurley is an American engineer, former Marine Corps pilot
      and former NASA astronaut. He launched into space for the third time as
      commander of Crew Dragon Demo-2.
    </p>

    <div class="crew-members">
      <div class="active"></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div class="crew-image">
    <img
      src="../../assets/crew/image-douglas-hurley.png"
      srcset="
        ../../assets/crew/image-douglas-hurley.png,
        ../../assets/crew/image-douglas-hurley.webp
      "
    />
  </div>
</section>
