.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50vh;
  left: 50vw;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.destination {
  background: url("../../assets/destination/background-destination-desktop.jpg")
    no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  padding-top: 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .destination-heading {
    // margin-right: 200px;

    h5 {
      color: #ffffff;
      font-family: "Barlow Condensed", sans-serif;
      font-weight: 400;
      font-size: 18px;
      letter-spacing: 4.75px;
      margin-bottom: 50px;
    }

    .destination-img {
      img {
        width: 350px;
      }
    }
  }

  .destination-details {
    width: 500px;
    height: auto;
    padding: 0 0 20px 0;

    .destination-list {
      ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        li {
          margin-right: 40px;

          a {
            font-family: "Barlow Condensed", sans-serif;
            font-weight: 400;
            font-size: 18px;
            letter-spacing: 2.7px;
            color: #d0d6f9;
            text-decoration: none;
          }

          a:hover {
            cursor: pointer;
          }

          .active {
            color: #ffffff;
            border-bottom: 1px solid #ffffff;
          }
        }
      }
    }

    .destination-name {
      h2 {
        font-family: "Bellefair", serif;
        font-weight: 400;
        font-size: 100px;
        letter-spacing: 4.75px;
        color: #ffffff;
        margin: 30px 0;
      }

      p {
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 30px;
        color: #d0d6f9;
        margin: 0;
        padding-bottom: 35px;
        border-bottom: 1px solid #ffffff;
      }
    }

    .travel-details {
      margin-top: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .distance {
        width: auto;
        margin-right: 60px;

        h6 {
          color: #d0d6f9;
          font-family: "Barlow Condensed", sans-serif;
          font-weight: 400;
          font-size: 14px;
          letter-spacing: 2.35px;
          margin-bottom: 10px;
        }

        h5 {
          color: #ffffff;
          font-family: "Bellefair", serif;
          font-weight: 400;
          font-size: 28px;
          margin-top: 0;
        }
      }

      .time {
        width: auto;

        h6 {
          color: #d0d6f9;
          font-family: "Barlow Condensed", sans-serif;
          font-weight: 400;
          font-size: 14px;
          letter-spacing: 2.35px;
          margin-bottom: 10px;
        }

        h5 {
          color: #ffffff;
          font-family: "Bellefair", serif;
          font-weight: 400;
          font-size: 28px;
          margin-top: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .destination {
    background: url("../../assets/destination/background-destination-tablet.jpg")
      no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    padding-top: 100px;

    .destination-heading {
      margin-bottom: 50px;
      h5 {
        width: 90vw;
        text-align: left;
      }

      .destination-img {
        text-align: center;
      }
    }

    .destination-details {
      width: 70vw;
      text-align: center;

      .destination-list {
        ul {
          justify-content: center;
        }
      }

      .travel-details {
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .destination {
    background: url("../../assets/destination/background-destination-mobile.jpg")
      no-repeat;
    background-position: center;
    background-size: cover;

    .destination-heading {
      h5 {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .destination {
    .destination-heading {
      .destination-img {
        width: 90vw;

        img {
          width: 250px;
        }
      }
    }

    .destination-details {
      width: 90vw;

      .destination-name {
        h2 {
          font-size: 80px;
        }
      }

      .travel-details {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .distance {
          margin-right: 0;
        }

        .time {
          margin-top: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .destination {
    .destination-details {
      .destination-list {
        ul {
          li {
            margin-right: 20px;
          }
        }
      }

      .destination-name {
        h2 {
          font-size: 75px;
          letter-spacing: 3px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 317px) {
  .destination {
    .destination-heading {
      h5 {
        font-size: 14px;
      }

      .destination-img {
        width: 90vw;

        img {
          width: 200px;
        }
      }
    }

    .destination-details {
      .destination-list {
        ul {
          li {
            margin-right: 15px;
          }
        }
      }

      .destination-name {
        h2 {
          font-size: 65px;
          letter-spacing: 3px;
        }
      }
    }
  }
}
