.tech {
  background: url("../../assets/technology/background-technology-desktop.jpg")
    no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  padding-top: 120px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .tech-details {
    margin: 0 100px;

    .tech-heading {
      margin-bottom: 100px;

      h5 {
        color: #ffffff;
        font-family: "Barlow Condensed", sans-serif;
        font-size: 18px;
        letter-spacing: 4.75px;
      }
    }

    .tech-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .tech-types {
        margin-right: 50px;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        div {
          width: 50px;
          height: 50px;
          border: 0.1px solid #ffffff;
          border-radius: 50%;
          margin-bottom: 20px;

          span {
            position: relative;
            top: 35%;
            left: 42%;
          }
        }
      }

      .tech-description {
        width: 500px;

        h6 {
          color: #ffffff;
          font-family: "Barlow Condensed", sans-serif;
          font-weight: 400;
          font-size: 16px;
          letter-spacing: 1px;
          margin: 0;
        }

        h2 {
          color: #ffffff;
          font-family: "Bellefair", serif;
          font-weight: 400;
          font-size: 56px;
          margin: 0 0 25px 0;
        }

        p {
          width: 360px;
          color: #ffffff;
          font-family: "Barlow Condensed", sans-serif;
          font-weight: 400;
          font-size: 16px;
          letter-spacing: 1px;
        }
      }
    }
  }

  .tech-image {
    img {
      width: 30vw;
      height: 70vh;
    }
  }
}

.active {
  background-color: #ffffff;
  color: #000000;
}

@media screen and (max-width: 1024px) {
  .tech {
    background: url("../../assets/technology/background-technology-tablet.jpg")
      no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 180px;
    flex-direction: column-reverse;
    justify-content: space-around;

    .tech-image {
      margin-bottom: 50px;

      img {
        width: 100vw;
        height: 300px;
      }
    }

    .tech-details {
      .tech-heading {
        text-align: center;
        position: fixed;
        top: 13vh;
        left: 5vw;
      }

      .tech-container {
        margin-bottom: 50px;
        flex-direction: column;
        align-items: center;

        .tech-types {
          margin-right: 0;
          flex-direction: row;
          justify-content: center;
          margin-bottom: 50px;

          div {
            margin-right: 30px;
          }

          div:last-child {
            margin-right: 0;
          }
        }

        .tech-description {
          text-align: center;

          p {
            width: 500px;
            line-height: 30px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .tech {
    background: url("../../assets/technology/background-technology-mobile.jpg")
      no-repeat;
    background-position: center;
    background-size: cover;

    .tech-details {
      .tech-heading {
        width: 60%;
        left: 20%;
      }

      .tech-container {
        width: 100vw;

        .tech-description {
          width: 80vw;

          p {
            width: 80vw;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .tech {
    .tech-details {
      .tech-container {
        .tech-description {
          h2 {
            font-size: 40px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .tech {
    .tech-details {
      .tech-heading {
        width: 90%;
        left: 5%;
      }

      .tech-container {
        .tech-description {
          h6 {
            font-size: 14px;
          }

          h2 {
            font-size: 30px;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .tech {
    .tech-details {
      .tech-heading {
        width: 100%;
        left: 0;
      }

      .tech-container {
        .tech-description {
          h6 {
            font-size: 12px;
          }

          h2 {
            font-size: 24px;
          }

          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}
