.tech {
  width: 100vw;
  height: 100vh;
  background: url("../../assets/technology/background-technology-desktop.jpg")
    no-repeat;
  background-size: cover;
  background-position: center;

  .tech-heading {
    position: fixed;
    top: 23vh;
    left: 15vw;

    h5 {
      color: #ffffff;
      font-family: "Barlow Condensed", sans-serif;
      font-size: 18px;
      letter-spacing: 4.75px;
    }
  }

  .tech-details {
    position: fixed;
    top: 40vh;
    left: 15vw;

    .tech-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .tech-types {
        margin-right: 50px;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        div {
          width: 50px;
          height: 50px;
          border: 0.1px solid #ffffff;
          border-radius: 50%;
          margin-bottom: 20px;

          span {
            position: relative;
            top: 35%;
            left: 42%;
          }
        }
      }

      .tech-description {
        width: 500px;

        h6 {
          color: #ffffff;
          font-family: "Barlow Condensed", sans-serif;
          font-weight: 400;
          font-size: 16px;
          letter-spacing: 1px;
          margin: 0;
        }

        h2 {
          color: #ffffff;
          font-family: "Bellefair", serif;
          font-weight: 400;
          font-size: 56px;
          margin: 0 0 25px 0;
        }

        p {
          width: 360px;
          color: #ffffff;
          font-family: "Barlow Condensed", sans-serif;
          font-weight: 400;
          font-size: 16px;
          letter-spacing: 1px;
        }
      }
    }
  }

  .tech-image {
    position: fixed;
    top: 30vh;
    right: 0;

    img {
      width: 400px;
      height: 400px;
    }
  }
}

.active {
  background-color: #ffffff;
  color: #000000;
}

@media screen and (max-width: 1024px) {
  .tech {
    background: url("../../assets/technology/background-technology-tablet.jpg")
      no-repeat;
    background-size: cover;

    .tech-heading {
      top: 7vh;
      left: 5vw;
    }

    .tech-image {
      top: 15vh;
      left: 0;

      img {
        width: 100vw;
        height: 300px;
      }
    }

    .tech-details {
      top: 40vh;
      left: 20vw;

      .tech-container {
        flex-direction: column;
        align-items: center;

        .tech-types {
          flex-direction: row;
          justify-content: center;
          margin-bottom: 50px;

          div {
            margin-right: 30px;
          }
        }

        .tech-description {
          text-align: center;

          p {
            width: 500px;
            line-height: 30px;
          }
        }
      }
    }
  }
}
