.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50vh;
  left: 50vw;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.home {
  background: url("../../assets/home/background-home-desktop.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 180px;

  .intro {
    width: 500px;
    height: auto;
    color: #ffffff;
    // position: fixed;
    // top: 40vh;
    // left: 10vw;

    h5 {
      font-family: "Barlow Condensed", sans-serif;
      font-weight: 400;
      font-size: 28px;
      letter-spacing: 4.75px;
    }

    h1 {
      font-family: "Bellefair", serif;
      font-weight: 400;
      font-size: 150px;
      letter-spacing: 4.75px;
      margin: 0 0 30px 0;
    }

    p {
      font-family: "Barlow Condensed", sans-serif;
      font-size: 20px;
      letter-spacing: 1.25px;
    }
  }

  .explore-btn {
    div {
      width: 300px;
      height: 300px;
      background-color: #ffffff;
      border: 1px solid #ffffff;
      border-radius: 50%;
      margin: 0 auto;

      a {
        display: inline-block;
        width: 100%;
        text-align: center;
        font-family: "Bellefair", serif;
        font-weight: 400;
        font-size: 28px;
        color: #000000;
        position: relative;
        top: 45%;
        // left: 30%;
      }
    }

    div:hover {
      box-shadow: 0 0 0px 50px #0b0d17;
    }
  }
}

@media screen and (max-width: 1024px) {
  .home {
    background: url("../../assets/home/background-home-tablet.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    flex-direction: column;

    .intro {
      width: 60vw;
      text-align: center;
      margin-bottom: 80px;
    }

    .explore-btn {
      margin-bottom: 100px;
    }
  }
}

@media screen and (max-width: 768px) {
  .home {
    background: url("../../assets/home/background-home-mobile.jpg") no-repeat;
    background-size: cover;
    background-position: center;

    .intro {
      width: 90vw;
    }
  }
}

@media screen and (max-width: 500px) {
  .home {
    .intro {
      h5 {
        font-size: 14px;
      }

      h1 {
        font-size: 100px;
      }

      p {
        font-size: 16px;
      }
    }

    .explore-btn {
      width: 80vw;

      div {
        width: 200px;
        height: 200px;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .home {
    .intro {
      h1 {
        font-size: 80px;
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .home {
    .intro {
      h5 {
        font-size: 12px;
      }

      h1 {
        font-size: 60px;
      }
    }
  }
}
